cur.log
*.o
*.su
*.o.cmd
*.cmd
*.bin
*.srec
*.depend

System.map
arch/arm/include/asm/arch
arch/arm/lib/asm-offsets.s
arch/arm/lib/lib.a
examples/standalone/hello_world
include/autoconf.mk
include/autoconf.mk.dep
include/config.h
include/config.mk
include/config/
include/generated/
lib/asm-offsets.s
scripts/basic/fixdep
tools/common/
tools/dumpimage
tools/lib/
tools/mkenvimage
tools/mkimage
tools/mksunxiboot
tools/proftool
u-boot
u-boot.lds
u-boot.map
