on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

service charger /charger
    class charger
    seclabel u:r:healthd:s0

# bugreport is triggered by holding down volume down, volume up and power
 
service bugreport /system/bin/dumpstate -d -p -B -z \
        -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 114 115 116

on property:sys.drop_cache=1
    write /proc/sys/vm/drop_caches 3
    setprop sys.drop_cache 0
