/output
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*.swp
*~
tools/livesuit/tools.scj
external-packages/example/example
tools/pack/out/
tools/pack/wboot/rootfs.fex
!dl/*

/target/common/adb/adbd
/target/common/adb/*.a
/target/common/adb/libs/libcutils/*.a
/target/common/adb/libs/libmincrypt/*.a
/target/dragonboard/adb/adbd
/target/dragonboard/sysroot/
/target/dragonboard/output/bin/
/target/dragonboard/rootfs.ext4
/target/dragonboard/rootfs/
/target/dragonboard/src/lib/libscript.a
*.d
